[submodule "frontend"]
	path = frontend
	url = https://github.com/vivagarwal/shorten_url_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/vivagarwal/shorten_url_backend.git
